$navbar-background : #192140;
$logo-color : #DCF10D;
$act-color:#0266FF;
$normal-color :#9D9DB5;
$text-color : #FFFFFF ;
$footer-color :#10131C;
$card-color :#F8F9FC;
$border-color: #9D9DB5;
$Title-color : #10131C;
$footer-li-color: #D7F8FF;
